In [67]:
import pandas as pd 

df = pd.read_csv('fp2.csv')

def clean(col1, col2):
    df[col1] = df[col2].astype(str) + df[col1].astype(str)
    df[col1] = [w.replace('nan', '').strip('[]\'').replace("'", '').replace(', ', ';') for w in df[col1]]

for c1, c2 in zip(['Title', 'Year', 'Publisher', 'Genre'], ['Title:', 'Release Date:', 'Publisher:', 'Genre:']):
    clean(c1, c2)

df['Franchise:'] = [w.strip('[]\'') if isinstance(w, str) else w for w in df['Franchise:']]
df['Developer:'] = [w.strip('[]\'') if isinstance(w, str) else w for w in df['Developer:']]
df = df.drop(['Title:', 'Release Date:', 'Publisher:', 'Genre:'], axis=1)
df

,Unnamed: 0,Title,Year,Publisher,Genre,Platform,Metascore,Avg_Userscore,No_Players,Developer:,Discounted Price,Number of Ratings,Percentage of Positive Reviews,Price,Franchise:
0,0,The Legend of Zelda: Ocarina of Time,1998,Nintendo,Action Adventure;Fantasy,Nintendo64,99,9.1,1 Player,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tony Hawks Pro Skater 2,2000,NeversoftEntertainment,Sports;Alternative;Skateboarding,PlayStation,98,7.4,1-2,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tony Hawks Pro Skater 2,2000,Treyarch,Sports;Alternative;Skateboarding,Dreamcast,97,6.2,not specified,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Tony Hawks Pro Skater 2,2001,VicariousVisions,Sports;Alternative;Skateboarding,GameBoyAdvance,95,7.0,not specified,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Tony Hawks Pro Skater 2,2000,NeversoftEntertainment,Sports;Alternative;Individual;Skateboarding;Sk...,PC,91,8.5,1-4,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5847,5847,KingdomUnderFire2,Nov182019,Gameforge 4D GmbH\t,Action;Massively Multiplayer;RPG;Strategy,NaN,NaN,NaN,NaN,Blueside,NaN,1399.0,73%,$9.99,NaN
5848,5848,Thief,Feb272014,Square Enix;Feral Interactive (Mac),Action;Adventure,NaN,NaN,NaN,NaN,"Eidos-Montréal', 'Feral Interactive (Mac)",NaN,11296.0,72%,$19.99,Thief
5849,5849,STARWARSTheForceUnleashedUltimateSithEdition,Nov32009,LucasArts;Lucasfilm;Disney,Action,NaN,NaN,NaN,NaN,LucasArts,NaN,3805.0,69%,$19.99,Star Wars
5850,5850,BloodBowl2LegendaryEdition,Sep52017,Focus Home Interactive,Sports;Strategy;Violent;Gore,NaN,NaN,NaN,NaN,"Cyanide Studios', 'Cyanide Studio",$8.99,0.0,No Rating,$29.99,Warhammer
5851,5851,ISLANDERS,Apr42019,GrizzlyGames,Casual;Indie;Strategy,NaN,NaN,NaN,NaN,GrizzlyGames,NaN,8276.0,95%,$4.99,GrizzlyGames

In [4]:

def clean_up(column): 
    
    new_df = df[column].values.reshape(-1,1)
    new_col = []
    
    for item in new_df:
        if type(item[0]) == str:
            
        
            col_data = item[0].split(',')
            column_lst = []
       
            for i in range(len(col_data)):
                col_data[i] = col_data[i].strip("'][ '")
                column_lst.append(col_data[i])
                
        
            new_col.append(column_lst)
    
        else: 
        
            new_col.append([])
        
        
    return new_col

In [5]:
cleanable_columns = ['Title:', 'Genre:', 'Developer:', 'Publisher:', 'Release Date:', 'Franchise:']

for item in cleanable_columns:
    clean_column = clean_up(item)
    
    df = df.drop(item, axis = 1)
    new_series = pd.Series(clean_column)
    df[item] = new_series

df = df.drop('Unnamed: 0', axis = 1)

In [6]:
def count_unique(column):
    
    unique_items = []
    
    for item in df[column]:
        for i in range(len(item)):
            
            if item[i] not in unique_items:
                
                unique_items.append(item[i])
    
    
    return unique_items

In [7]:
def one_hot(column, unique_lst):
    
    series = df[column]
    
    
    for item in unique_lst:
        
        item_check = []
        
        for i in range(len(series)):
            
            item_value = 0
            
            for j in range(len(series[i])):
                
                if item == series[i][j]:
                    item_value += 1
                else:
                    item_value += 0
                
               
            if item_value >= 1:
                item_check.append(1)
            else:
                item_check.append(0)

          
        item_series = pd.Series(item_check)
        df[item] = item_series

In [ ]:
for item in cleanable_columns: 
    
    unique = count_unique(item)

    one_hot(item, unique)
    df = df = df.drop(item, axis = 1)
    print(item)

Title:
Genre:

In [7]:
df

,Discounted Price,Number of Ratings,Percentage of Positive Reviews,Price,CounterStrikeGlobalOffensive,TheElderScrollsOnline,SidMeiersCivilizationVI,Destiny2,BlackDesertOnline,TomClancysRainbowSixSiege,...,Sins of a Solar Empire,Titan Quest,Conan Exiles,Mass Effect,Wolfenstein,Warhammer Underworlds: Online,Trine,Surviving Mars,Power Rangers,MotoGP™
0,NaN,4427442.0,87%,Free to Play,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,60316.0,81%,$19.99,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,76894.0,80%,$59.99,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,237260.0,86%,Free To Play,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,24355.0,74%,$9.99,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,NaN,50.0,70%,$9.99,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
941,NaN,69.0,66%,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
942,NaN,38384.0,91%,$19.99,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
943,NaN,144.0,79%,$14.99,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
944,NaN,12961.0,90%,$9.99,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.to_csv("new_data")